@charset "UTF-8";

*{
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
}
.imgbox{
	display: inline-block;
	margin: 10px;
	width: 200px;
	height: 200px;
}
.home{
	padding: 0 1px;
	display: inline-block;
	min-width: 300px;
}
.left{
	width: 50%;
	display: inline-block;
	padding: 10px;
}
.right{
	width: calc(50% - 50px);
	float: right;
	padding: 10px;
}
h3 {
	padding-right: 5%;
	font-size: 24px;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
p {
	color: #B3B3B3;
}

.button {
	align-self: center;
	flex: 1;
	width: 200px;
	height: 60px;
	background: #B2B2B2;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.4s linear;
}

.button:hover {
	background-color: #F9BA00;
	color: #FFFFFF;
	cursor: pointer;
}

@media (min-width: 321px) and (max-width: 768px) {
	h1{
		font-size: 32px;
	}
	.home{
		width: 100%;
	}
}
@media (min-width: 769px) and (max-width: 1000px) {
	h1{
		font-size: 48px;
	}
	.home{
		width: calc(50% - 5px);
	}

}
@media (min-width: 1001px){
	h1{
		font-size: 72px;
	}
	.home{
		width: calc(50% - 5px);
	}
}
